.threeCol {
    padding: 10%;
}

.threeCol h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 10px;
}

.threeColPanel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.threeColPanel a,
.threeColPanel .column {
    transition: ease-in-out
            background-color 0.3s,
        color 0.3s, transform 0.3s;
    flex: 1;
    background-color: var(
        --backgroundColourMid
    );
    padding: 20px;
    border-radius: calc(
        var(--panelBorderRadius) / 2
    );
    box-shadow: 0 4px 8px
        rgba(0, 0, 0, 0.05);
}

.threeColPanel a:hover,
.threeColPanel .column:hover {
    background-color: var(--textColour);
    color: var(--backgroundColour);
    transform: scale(1.05);
}

.threeColPanel a h1,
.threeColPanel .column h1 {
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    .threeColPanel {
        flex-direction: column;
    }

    .threeColPanel a,
    .threeColPanel .column {
        width: 100%;
    }

    .threeColPanel a:not(:last-child),
    .threeColPanel
        .column:not(:last-child) {
        margin-bottom: 20px;
    }
}
