:root {
    --bg: #a8a7a7;
    --dark: #151515;
    --mid: #bcbaba;
    --light: #ebebeb;
    --accent: #ebc014;
    --accentDark: #c98914;
    --text: #292929;
    --text-dark: #ffffff;
    --text-footer: #c9c9c9;
    --mainFont: "Arial", sans-serif;
    --accentFont: "Times New Roman", serif;
}

body {
    background-color: var(--bg);
    background-image: url("/../Resources/Images/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: var(--text);
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 4vw;
    font-weight: 800;
    text-decoration: underline;
    color: var(--text);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    color: var(--text);
    margin: 1vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: 1.2vw;
    font-weight: 700;
    color: var(--text);
    font-style: italic;
    margin: 1vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

p {
    line-height: 1.5;
    margin: 1vw;
    font-size: 1.2vw;
    color: var(--text);
    text-align: justify;
}

footer {
    background: linear-gradient(-45deg, black, var(--dark));
    padding: 20px;
    text-align: center;
    color: var(--text-footer);
    font-size: 1vw;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: auto;
}

footer img {
    width: 30px;
    height: auto;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(100%);
}

ul {
    list-style-type: disc;
    padding-left: 4vw;
}

th,
td {
    padding: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 2px solid var(--text);
    border-top: 1px solid var(--dark);
    border-left: 1px solid var(--dark);
    font-family: var(--accentFont);
}

.Core {
    background: linear-gradient(-45deg, var(--mid), var(--light));
}

.Accent {
    background: linear-gradient(-45deg, var(--accentDark), var(--accent));
}

.Panel {
    border-bottom: 2px solid var(--text);
    padding: 20px;
    margin-bottom: 10px;
}

.AccentPanel {
    border-top: 2px double var(--light);
    color: var(--dark);
}

.ShadowBuffer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.ShadowText {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.ShadowImage {
    filter: drop-shadow(-2px -2px 1px #fff) drop-shadow(10px 10px 10px #111);
}

.Capitalise {
    text-transform: capitalize;
}

.Title {
    display: flex;
    align-items: center;
}

.TitleText {
    display: flex;
    flex-direction: column;
}

.Title img {
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Title h1 {
    font-size: 5vw;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
    color: var(--text);
}

.Title h4 {
    margin-top: 5px;
    padding: 0px;
    margin: 0px;
}

.TopSticky {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.TitleNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.TitleNav a,
.titleNav a.ActivatedLink {
    padding: 5px;
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}

.TitleNav a:hover,
a.ActivatedLink {
    color: var(--text-dark);
    text-decoration: solid 2px underline;
}

.Grid {
    display: grid;
    gap: 20px;
}

.GridSkewRight {
    grid-template-columns: 2fr 1fr;
}

.GridSkewLeft {
    grid-template-columns: 1fr 2fr;
}

.GridItem img {
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 10px;
}

.ImageHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GridItem {
    border: 1px solid var(--text);
    border-top: 2px double var(--dark);
    padding-left: 20px;
    margin: 20px;
    padding: 50px;
}

.GridItemLeft {
    margin-left: 0px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.GridItemRight {
    margin-right: 0px;
    border-right: none;
    border-left: 1px solid var(--dark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Main {
    padding-top: 10vw;
    padding-bottom: 20px;
}

.Introduction {
    align-items: center;
    padding: 20px;
}

.Input {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.Input label {
    font-size: 2vw;
    color: var(--text);
    text-align: right;
    padding-right: 20px;
}

.Input input {
    padding: 5px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

.SubmitButton {
    background-color: var(--accent);
    color: var(--dark);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-top: 2px double var(--light);
    border-left: 2px double var(--light);
    font-size: 1.5vw;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.SubmitButton:hover {
    background-color: var(--accentDark);
}

.SubmitButton:active {
    background-color: var(--text);
    transition: background-color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid var(--light);
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.Input textarea {
    padding: 5px;
    border: 1px solid var(--text);
    border-radius: 5px;
}


.Inset {
    position: relative;
}

.Inset::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: brightness(0.5) drop-shadow(2px 2px 5px var(--dark));
    z-index: 1;
}

.Inset img {
    position: relative;
    z-index: 0;
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background-image: none;
        background-color: var(--bg);
        overflow-x: hidden;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    footer {
        font-size: 3vw;
    }

    .Title h1 {
        font-size: 8vw;
    }

    .TitleNav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .TitleNav a {
        font-size: 3vw;
    }

    @media (max-width: 600px) {
        .Grid {
            display: block;
            grid-template-columns: 1fr;
            padding: 0px;
        }
        .GridItem {
            box-shadow: 2px 2px 5px -1px var(--dark);
            border-radius: 0;
            border: 2px solid var(--light);
            border-right: 2px solid var(--dark);
            border-bottom: 2px solid var(--dark);
            overflow: hidden;
            margin: 10px;
        }
        .GridItemLeft {
            box-shadow: inset 5px 5px 10px -2px var(--dark);
            border: 2px solid var(--dark);
            border-right: 2px solid var(--light);
            border-bottom: 2px solid var(--light);
        }
        .GridItem img {
            width: 50%;
        }
    }
}
